benchmark/hybrid_workloads/*.jsonl filter=lfs diff=lfs merge=lfs -text
benchmark/GitTaskBench/code_base/TransparentBackground/samples/*.mp4 filter=lfs diff=lfs merge=lfs -text
benchmark/GitTaskBench/code_base/TransparentBackground/figures/*.gif filter=lfs diff=lfs merge=lfs -text
